@(title: String, jsFiles: List[String])(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    @for(js_file <- jsFiles) {
    <script src='@routes.Assets.at("javascripts/" + js_file)' type="text/javascript"></script>
    }
</head>
<body>
@content
</body>
</html>
